table {
  width: 50%;
  border-collapse: collapse;
}
thead, td {
  border: 1px solid black;
  padding: 8px;
  text-align: left;
}
th {
  background-color: lightgray;
  font-weight: bold;
  text-align: center;
}
.cont{
  display:flex;
  flex-direction: row-reverse;
  justify-content: space-around;
  flex-wrap: wrap;
}
  